<p>calendrier fonctionne!</p>
<app-event-form></app-event-form>
<div class="container-fluid">
  <h1>Liste Evenement</h1>
</div>
<table class="table mt-4">
  <thead>
  <tr>
    <th scope="col">ID No</th>
    <th scope="col">titre</th>
    <th scope="col">heure</th>
    <th scope="col">type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events">
    <td>{{ event.id }}</td>
    <td>{{ event.title }}</td>
    <td>{{ event.time }}</td>
    <td>{{ event.type }}</td>
    <td>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal">Modifier</button>&nbsp;

      <button class="btn btn-success" (click)="deleteEvent(event.id)">Supprimer</button>    </td>
  </tr>
  </tbody>
</table>



<!-- formulaire modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Modifier l'événement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitForm()">
          <div class="mb-3">
            <label for="FormControlInputTitle" class="form-label">Titre</label>
            <input type="text" class="form-control" id="FormControlInputTitle" placeholder="Titre" [(ngModel)]="eventToUpdate.title">
          </div>
          <div class="mb-3">
            <label for="FormControlInputTime" class="form-label">Heure</label>
            <input type="time" class="form-control" id="FormControlInputTime" placeholder="Heure" [(ngModel)]="eventToUpdate.time">
          </div>

        <div class="mb-3">
          <label for="exampleFormControlInputRoutine" class="form-label">Type de routine</label>
          <input type="routine" class="form-control" id="exampleFormControlInputRoutine" placeholder="routine">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
