<p>calendar works!</p>

<div class="container-fluid">
  <h1>Event Crud</h1>
  <div class="d-flex">
    <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add Event</button>
  </div>
</div>
<table class="table mt-4">
  <thead>
  <tr>
    <th scope="col">ID No</th>
    <th scope="col">title</th>
    <th scope="col">time</th>
    <th scope="col">type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events">
    <td>{{ event.id }}</td>
    <td>{{ event.title }}</td>
    <td>{{ event.time }}</td>
    <td>{{ event.type }}</td>
    <td>
      <button class="btn btn-dark">edit</button>&nbsp;
      <button class="btn btn-success">Delete</button>

    </td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Event Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="title" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Time</label>
            <input type="time" class="form-control" id="">
          </div>
          <div class="mb-3">
            <label class="form-label">Type</label>
            <input type="type" class="form-control" id="">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
